:root {
  --white: #ffffff;
  --light-grey: #edf0f1;
  --pomegranate: #c0392b;
  --wisteria: #5f497f;
  --navy: #2f4858;
  --green: #16a085;
}
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background: #212121;
  font-family: "Fira Code", monospace;
  text-decoration: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.hero{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
  width: 95%;
  color: var(--white);
}







.navbar{
  
  position: fixed;
  bottom: 100px;
  width: 100%;
  display: flex; 
  justify-content: center;
  align-items: center; 
  z-index: 100;
}
.nav ul {
  list-style: none;
  
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav {
  
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 400px;
  padding-bottom: 20px;
  border-radius: 5px 5px 25px 25px;
}

.nav [type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.nav [type="checkbox"] + label {
  position: relative;
  top: 0;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  
  
  cursor: pointer;
  z-index: 1;
  background: var(--pomegranate);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.2s;
}

.nav [type="checkbox"] + label:hover {
  background: var(--wisteria);
}

.menu li {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
}

.menu li:nth-child(1) {
  transition-delay: 0.2s;
}

.menu li:nth-child(2) {
  transition-delay: 0.15s;
}

.menu li:nth-child(3) {
  transition-delay: 0.1s;
}

.menu li:nth-child(4) {
  transition-delay: 0.05s;
}

.menu li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--pomegranate);
}

.menu li a span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - 5px));
  width: 100%;
  font-size: 0.8rem;
  font-family: "Fira Code", monospace; 
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  color: var(--navy);
  font-weight: bold;
}

.nav input:checked + label {
  background: var(--pomegranate);
  transform: translateY(calc(-50% + 4px));
}

.nav input:checked ~ .menu li:nth-child(1) {
  top: -210px;
  transition-delay: 0.1s;
}

.nav input:checked ~ .menu li:nth-child(2) {
  top: -160px;
  left: calc(50% - 75px);
  transition-delay: 0.2s;
}

.nav input:checked ~ .menu li:nth-child(3) {
  top: -160px;
  left: calc(50% + 75px);
  transition-delay: 0.3s;
}

.nav input:checked ~ .menu li:nth-child(4) {
  top: -110px;
  transition-delay: 0.4s;
}

.nav input:checked ~ .menu li a span {
  opacity: 1;
  transition-delay: 0.9s;
}
.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 95%;
  color: var(--white);
}
 
.text-hello{
  letter-spacing: 2px;
  /* line-height: 1.5; */
}

.hero-section h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1%;
  text-align: center;
}
.hero-section p{
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 1%;
}

.text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 50px;
}

.word {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: max-content;
  opacity: 0;
  text-align: center;
  white-space: normal;
  line-height: 1;
  max-width: 450px; 
}
.text h1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: var(--wisteria);
}

.belize {
  color: #b22f59;
}

.pomegranate {
  color: var(--pomegranate);
}

.green {
  color: #009aaa;
}

.hero-section a{
  position: relative;
  display: flex;
  margin-left:75%;
  justify-content: center;

}

.btn {
 display: inline-block;
 padding: 0.9rem 1.8rem;
 font-size: 1rem;
 font-weight: 700;
 color: white;
 border: 3px solid var(--pomegranate);
 cursor: pointer;
 position: relative;
 background-color: transparent;
 text-decoration: none;
 overflow: hidden;
 z-index: 1;
 font-family: inherit;
}

.btn::before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: var(--pomegranate);
 transform: translateX(-100%);
 transition: all .3s;
 z-index: -1;
}

.btn:hover::before {
 transform: translateX(0);
}
@media (max-width: 600px) {

  .hero-section {
    width: 95%;
    height: 100vh;
    padding: 0%;
  }

  .hero {
    width: 95%;
    height: 100vh;
    padding: 0 2%;
  }

  .text-hello {
    font-size: 1.5rem;
  }

  .hero-section h1,
  .text h1 {
    font-size: 1.5rem;
  }

  .text {
    height: 80px;
    width: 100%;
  }

  .word {
    max-width: 95vw;
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 0.6rem 2rem;
  }

}


.about {
      position: relative;
      display:flex;   
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      min-height: 100vh;
      width: 95%;
      z-index: 2;
    }

.about-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 95%;
      height: 100%;
      color: var(--white);
    }
.about-container h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1%;
  text-align: center;
}
.about-container p{
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 2%;
  text-align: center; 
}

@media (max-width: 600px) {
  .about-container p{
    font-size: 1rem;
  }

}

.list-of-skills {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      overflow: hidden;
      width: 40%;
    }

.tag-cloud {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      max-width: 100%;
      justify-content: center;
      text-align: center;
    }

.tag {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
  display: inline-block;
 
}

.tag::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 100%;
  height: 2px;
  background: transparent;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
  pointer-events: none;
}

.size-1 { font-size: 1rem; }
.size-2 { font-size: 1.2rem; }
.size-3 { font-size: 1.5rem; }
.size-4 { font-size: 1.8rem; }
.size-5 { font-size: 2.2rem; }

.size-1.tag:hover { color: #c0392b; text-shadow: 0 0 8px #c0392b, 0 0 16px #c0392b; }
.size-2.tag:hover { color: #5f497f; text-shadow: 0 0 8px #5f497f, 0 0 16px #5f497f; }
.size-3.tag:hover { color: #57b5f0; text-shadow: 0 0 8px #2f4858, 0 0 16px #2f4858; }
.size-4.tag:hover { color: #edf0f1; text-shadow: 0 0 8px #edf0f1, 0 0 16px #edf0f1; }
.size-5.tag:hover { color: #16a085; text-shadow: 0 0 8px #16a085, 0 0 16px #16a085; }

.size-1.tag:hover::after { box-shadow: 0 0 8px #c0392b, 0 0 16px #c0392b; background: #c0392b; }
.size-2.tag:hover::after { box-shadow: 0 0 8px #5f497f, 0 0 16px #5f497f; background: #5f497f; }
.size-3.tag:hover::after { box-shadow: 0 0 8px #2f4858, 0 0 16px #2f4858; background: #2f4858; }
.size-4.tag:hover::after { box-shadow: 0 0 8px #edf0f1, 0 0 16px #edf0f1; background: #edf0f1; }
.size-5.tag:hover::after { box-shadow: 0 0 8px #16a085, 0 0 16px #16a085; background: #16a085; }

.tag:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.typing-container {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}

.typed-text {
  position: relative;
  font-size: 18px;
  line-height: 1.6;
}

.typed-text::after {
  content: "|";
  position: absolute;
  animation: blinking 1s infinite;
  color: var(--pomegranate);
}

@keyframes blinking {
  0% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}


::-webkit-scrollbar {
    display: none;
  }
  
  .portfolio-min-h-screen {
    min-height: 92vh;
  }
  

  
  .portfolio-p-8 {
    padding: 2rem;
  }
  
  .portfolio-flex {
    display: flex;
  }
  
  .portfolio-flex-wrap {
    flex-wrap: wrap;
  }
  
  .portfolio-gap-4 {
    gap: 1rem;
  }
  
  .portfolio-mb-8 {
    margin-bottom: 2rem;
  }
  
  button {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  button.portfolio-bg-white {
    background-color: var(--pomegranate);
    color: var(--white);
  }
  
  button.portfolio-text-white {
    color: rgb(0, 0, 0);
  }
  
  button.portfolio-text-white-80 {
    color: rgba(255, 255, 255, 0.8);
  }
  
  button:hover {
    background-color: var(--wisteria);
  }
  
  .portfolio-grid {
    display: grid;
  }
  
  .portfolio-gap-6 {
    gap: 1.5rem;
  }
  
 
  
  .portfolio-lg-grid-cols-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio-group {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    background-color: #181818;
    border:2px solid rgba(51, 50, 50, 0.559);
    transition: transform 0.3s ease, opacity 0.3s ease;
    height: 350px;
    max-width: 1000px;
    z-index: 2;
}
  
  .portfolio-group:hover .portfolio-scale-hover {
    transform: scale(1.05);
  }
  
  .portfolio-scale-hover {
    transition: transform 0.3s;
  }
  
  .portfolio-aspect-3-2 {
    aspect-ratio: 3 / 2;
  }
  
  .portfolio-object-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .portfolio-bg-gradient-to-t {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  }
  
  .portfolio-absolute {
    position: absolute;
  }
  
  .portfolio-inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .portfolio-bottom-0 {
    bottom: 10%;
    height: 90%;
    width: 100%;
    display: flex;
;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  /* .portfolio-p-4 {
    padding: 1rem;
  } */
  
  .portfolio-text-xl {
    font-size: 2rem;
  }
  h3{
    margin:0px;
    padding:0;
  }
  .portfolio-text-white {
    color: rgba(255, 255, 255, 0.493);
  }
  
  .portfolio-text-white-80 {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .portfolio-font-semibold {
    font-weight: 600;
  }
  
  .portfolio-description {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0rem;
    transition: opacity 0.3s;
    text-align: center;
    padding: 0 1rem;
  }
  /* .about::before{
    left:20px;
    top:20px;
    height:90%;
    width:3px;

  } */

  .portfolio-media-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px; /* Optional: Add rounded corners */
  }
  
  .portfolio-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out, transform 0.4s ease-in-out;
    transform: scale(1.5);
  }
  
  .portfolio-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: scale(1.2); /* Start slightly zoomed in */
    transition: opacity 0.5s ease-in-out, transform 0.4s ease-in-out;
    pointer-events: none;
  }
  
  .portfolio-group:hover .portfolio-video {
    opacity: 1;
    transform: scale(1); /* Smooth zoom-out effect */
  }
  
  .portfolio-group:hover .portfolio-image {
    opacity: 0;
    transform: scale(0.95); /* Slight shrink for the image */
  }
  
  .portfolio-group {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .portfolio-group:hover {
    transform: scale(1.03); /* Slightly enlarge the entire card */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
  }
  
  .portfolio-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    transition: opacity 0.3s ease-in-out;
  }
  
  .portfolio-group:hover .portfolio-overlay {
    opacity: 0.7; /* Slightly enhance overlay visibility on hover */
  }
  @media (max-width:1100px) {
    .portfolio-sm-grid-cols-2 {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .portfolio-links{
    display: flex;
    gap:0.5rem;
    position: absolute;
    bottom:0px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  /* .button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  } */
  
  .button svg path {
    transition: 400ms;
  }
  
  .button:hover {
    background-color: transparent;
    outline: 1px var(--pomegranate) solid;
    outline-offset: -1px;
  }
  
  /* .button:hover svg path {
    fill: black;
  } */
   @media (max-width:680px) {
    .portfolio-text-xl {
      font-size: 2rem;
    }
    .text{
    height: 30px;
    }
   }
   @media (max-width:515px) {
    .portfolio-text-xl {
      font-size: 2rem;
    }
    .portfolio-group{
      height:280px;
    }
   }
   .portfolio-progress{
    position: absolute;
    right:15px;
    top:0;
    color:white;
    border:1px solid rgb(45, 45, 45);
    padding:5px 10px;
    border-radius: 8px;
    background-color: rgb(45, 45, 45);
    font-size: 0.85rem;
   }
   /* Default state: hide description and title */
.portfolio-description,
.portfolio-text-xl {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Show description and title on hover */
.portfolio-group:hover .portfolio-description,
.portfolio-group:hover .portfolio-text-xl {
  opacity: 0;
  transform: translateY(10px); /* Optional: slide-in effect */

}

/* Optional: Hide video by default */
.portfolio-video {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show video on hover */
.portfolio-group:hover .portfolio-video {
  opacity: 1;
}

/* Blur layer style */
.portfolio-overlay-blur {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.19); /* Semi-transparent black for the blur effect */
  backdrop-filter: blur(8px); /* Blur effect */
  transition: opacity 0.3s ease;
  opacity: 1; /* Visible by default */
  pointer-events: none; /* Ensure it doesn't block interactions */
}

/* On hover: hide the blur layer */
.portfolio-group:hover .portfolio-overlay-blur {
  opacity: 0;
}

.contact-form {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em;
  color: var(--white);
}
.form {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form:after,
.form:before {
  box-sizing: inherit;
}

.form-text {
  font-size: 1em;
  line-height: 1.2;
  box-sizing: border-box;
}

.form-content {
  display: table-cell;
  vertical-align: middle;
  color: var(--light-grey);
}

.form-content h1 {
  text-align: center;
}

.form-text {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  vertical-align: top;
}

.form-text-field,
.textarea-field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 100%;
  border: none;
  font-weight: 400;
  -webkit-appearance: none;
}

.form-text-field:focus,
.textarea-field:focus {
  outline: none;
}

.form-text-label,
.textarea-label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: var(--light-grey);
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-text-label-content,
.textarea-label-content {
  position: relative;
  display: block;
  padding: 1em 0;
  width: 100%;
}

.form-text-field-contact {
  width: 100%;
  background: transparent;
  padding: 0.5em 0;
  margin-bottom: 2em;
  color: var(--light-grey);
}

.textarea-field-contact {
  width: 100%;
  height: 25vh;
  background: transparent;
  padding: 0.5em 0;
  margin-bottom: 2em;
  color: var(--light-grey);
}

.form-text-label-contact,
.textarea-label-contact {
  width: 100%;
  position: absolute;
  text-align: left;
  font-size: 1em;
  pointer-events: none;
}

.form-text-label-contact {
  padding: 10px 0 5px;
}

.textarea-label-contact {
  padding: 10px 0 5px; /* Changed from 163px to match text field */
}

.form-text-label-contact::after,
.textarea-label-contact::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: var(--pomegranate);
  left: 0;
  top: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}

.form-text-label-content-contact,
.textarea-label-content-contact {
  padding: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: color 0.3s, -webkit-transform 0.3s;
  transition: color 0.3s, transform 0.3s;
}

.form-text--filled .form-text-label-contact::after,
.form-text-field-contact:focus + .form-text-label-contact::after,
.textarea-field-contact:focus + .textarea-label-contact::after {
  background: var(--pomegranate);
  -webkit-transform: scale3d(1.16, 0.5, 1);
  transform: scale3d(1.16, 0.5, 1);
  overflow: hidden;
}

.form-text--filled .form-text-label-contact .form-text-label-content-contact,
.form-text-field-contact:focus + .form-text-label-contact .form-text-label-content-contact,
.textarea-field-contact:focus + .textarea-label-contact .textarea-label-content-contact {
  color: var(--wisteria);
  -webkit-transform: translate3d(0, 2.5em, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(0, 2.5em, 0) scale3d(0.8, 0.8, 1);
}

div.send button {
  color: var(--pomegranate);
  cursor: pointer;
  display: block;
  line-height: 45px;
  margin: 0 auto 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  background: transparent;
  border: none;
  letter-spacing: 5px;
  font-weight: 600;
  font-size: 24px;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
}

div.send button:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 3px solid var(--pomegranate);
  bottom: 0;
  content: " ";
  display: block;
  position: relative;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

div.send button:hover {
  letter-spacing: 2px;
  font-weight: 400;
}

div.send button:focus {
  outline: none;
}

div.send button:hover:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-color: var(--pomegranate);
  -webkit-transform: scale3d(1.17, 0.5, 1);
  transform: scale3d(1.17, 0.5, 1);
  width: 100%;
}

.footer-underline{
  text-decoration: none;
}

    footer {
      text-decoration: none;
      background: #292828;
      color: var(--light-grey);
      padding: 21px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    footer .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    footer .content .logo {
      font-size: 40px;
      text-align: center;
    }
    footer .content p {
      text-align: center;
      width: 100%;
      max-width: 500px;
    }
    footer .content .sm,
    footer .content .links {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
    }
    footer .content .links {
      flex-wrap: wrap;
    }
    footer .content .sm li {
      margin: 15px;
    }
    footer .content .links li {
      margin: 0 12px;
      margin-bottom: 10px;
    }
    footer .content .links li a,
    footer .content .sm li a {
      color: var(--light-grey);
      transition: 0.3s ease;
      text-decoration: none !important;
    }
    footer .content .sm li a {
      font-size: 25px;
      padding: 8px;
      display: flex;
      align-items: center;
      text-decoration: none !important;
    }
    footer .content .sm li a:hover {
      background:transparent;
      border-radius: 10px;
      border: 1px solid var(--pomegranate);
      text-decoration: none !important;

    }
    footer .content .links li a:hover {
      opacity: 0.5;
    }
    footer .copyright {
      text-align: center;
      padding-top: 20px;
      width: 100%;
      border-top: 1px solid #555;
    }
    @media screen and (max-width: 500px) {
      footer {
        width: 100%;
      }
      footer .content .logo {
        font-size: 30px;
      }
      footer .content p {
        padding: 15px;
      }
      footer .content .sm li a {
        padding: 5px;
      }
    }
    